<div class="row text-center">
    <div class="col-md-6 offset-3">
        <h1>Próbujesz dostać się do strony która nie istnieje</h1>
        <hr />
        <a class="btn btn-warning" asp-controller="Home" asp-action="Index">Strona główna</a>
    </div>
</div>